// colors

$color-1: #25283D; // YANKEES BLUE
$color-2: #8F3985; // PLUM
$color-3: #ffffff; // WHITE
$color-4: #ECF0F1; // ANTI-FLASH WHITE

// fonts 

$primary-font: 'Hind', sans-serif;
$secondary-font: 'David Libre', serif;

// header size

$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;